**/results
**/suppl_tables
**/.snakemake
.Rhistory
resources/Supplementary_Table_1_ES_cohort.xlsx
resources/Supplementary_Table_3_Novel.xlsx
resources/genemap2_15_07_2021.txt
resources/genes_to_phenotype.txt
resources/mimTitles.txt
